In [23]:
# List of dictionaries, each containing student info with a list of courses
students = [
    {
        "id": 1,
        "name": "Alice Johnson",
        "age": 20,
        "major": "Computer Science",
        "courses": ["Python", "Data Structures", "Algorithms"]
    },
    {
        "id": 2,
        "name": "Bob Smith",
        "age": 22,
        "major": "Mathematics",
        "courses": ["Calculus", "Linear Algebra"]
    },
    {
        "id": 3,
        "name": "Carol White",
        "age": 21,
        "major": "Computer Science",
        "courses": ["Python", "Machine Learning", "Databases"]
    }
]

In [ ]:
print("=== STUDENTS AND COURSES ===\n")
for student in students:
    print(f'Student Name: {student["name"]}')
    # To actually see the enumerated courses:
    for num, course in enumerate(student["courses"], 1):
        print(f" {num}. {course}")
    print()  # Empty line for readability

In [ ]:
print("Students enrolled in Python course:")
for student in students:
    print(f'Student Name: {student["name"]}')
    for i,v in enumerate(student["courses"],start=1):
        print(f' {i}. {v}')
    print("")

In [33]:
students[1]["age"]=34

In [38]:
students[1]["age"]

45

In [48]:
def mod(name, newAge):
    for student in students:
        if student["name"] == name:
            student["age"] = newAge
            print(f'{student["name"]} with new age {student["age"]}')
            return True  # Exit function immediately after updating
    
    # This runs only if the loop completes without finding the student
    print(f"Student '{name}' not found")

# Test it:
mod("Bob Smith", 30)    # Should update and print
mod("John Doe", 25)     # Should print "not found"

Bob Smith with new age 30
Student 'John Doe' not found

In [43]:
mod("Bob Smith", 60)

Bob Smith with new age 60

In [44]:
students[1]["age"]

60

In [37]:
for student in students:
    if student['name'] == "Bob Smith":
        student['age'] = 45
        print(f"Updated Bob's age to {student['age']}")
        break  # Stop searching once found

Updated Bob's age to 45

In [49]:
# === EXAMPLE 1: Printing student names ===

print("=== WITHOUT break or continue ===")
for student in students:
    print(f"Checking: {student['name']}")
print("Done!\n")

# Output: Checks all students


print("=== WITH break - Stop at Bob ===")
for student in students:
    print(f"Checking: {student['name']}")
    if student['name'] == "Bob Smith":
        print("Found Bob! Stopping search.\n")
        break  # STOPS the entire loop here
print("Done!\n")

=== WITHOUT break or continue ===
Checking: Alice Johnson
Checking: Bob Smith
Checking: Carol White
Done!

=== WITH break - Stop at Bob ===
Checking: Alice Johnson
Checking: Bob Smith
Found Bob! Stopping search.

Done!

In [50]:
print("=== WITH continue - Skip Bob ===")
for student in students:
    if student['name'] == "Bob Smith":
        print(f"Skipping Bob...\n")
        continue  # SKIPS Bob, but continues with others
    print(f"Checking: {student['name']}")
print("Done!\n")

=== WITH continue - Skip Bob ===
Checking: Alice Johnson
Skipping Bob...

Checking: Carol White
Done!

In [51]:
print("=== BREAK: Stop when you find someone over 21 ===")
for student in students:
    if student['age'] > 21:
        print(f"Found someone over 21: {student['name']}")
        break  # Stop searching completely
    print(f"{student['name']}: {student['age']} years old")
print()

=== BREAK: Stop when you find someone over 21 ===
Alice Johnson: 20 years old
Found someone over 21: Bob Smith

In [56]:


print("=== CONTINUE: Skip people over 21, but keep checking others ===")
for student in students:
    if student['age'] > 21:
        print(f"{student['name']}, Over 21")
        continue  # Skip this person, move to next
    print(f"{student['name']}: {student['age']} years old")
print()

=== CONTINUE: Skip people over 21, but keep checking others ===
Alice Johnson: 20 years old
Bob Smith, Over 21
Carol White: 21 years old

In [57]:

# === EXAMPLE 3: Processing courses ===

print("\n=== BREAK: Find first student taking Python and stop ===")
for student in students:
    print(f"Checking {student['name']}...")
    if "Python" in student['courses']:
        print(f"  {student['name']} takes Python! Stopping search.")
        break  # Found one, stop looking
print()

=== BREAK: Find first student taking Python and stop ===
Checking Alice Johnson...
  Alice Johnson takes Python! Stopping search.

In [58]:
languages = {
    "Kais": "Python",
    "Sarah": "JavaScript",
    "Marcus": "Java",
    "Elena": "C++",
    "Ahmed": "Go",
    "Yuki": "Rust",
    "Sofia": "TypeScript"
}

In [ ]:
# METHOD 1: Using enumerate (most Pythonic)
print("=== METHOD 1: Using enumerate ===")
for num, (name, lang) in enumerate(languages.items(), 1):
    print(f"{num}. {name}: {lang}")

In [67]:
for i, (name,lang) in enumerate(languages.items(), 1):
    print(f"{i}. {name}:{lang}")

1. Kais:Python
2. Sarah:JavaScript
3. Marcus:Java
4. Elena:C++
5. Ahmed:Go
6. Yuki:Rust
7. Sofia:TypeScript

In [71]:
for i in sorted(languages.values()):
    print(i)

C++
Go
Java
JavaScript
Python
Rust
TypeScript

In [77]:
print("\n=== METHOD 2: Loop with correct indentation ===")
for name in languages:
    if name == "Kais":
        languages[name] = "Go"  # Update the dictionary directly
        break  # Now break is INSIDE the if, stops after finding
print(f"{name}, {languages["Kais"]}")
name

=== METHOD 2: Loop with correct indentation ===
Kais, Go

'Kais'

In [80]:

print("=== Basic While Loop ===")
count = 0
while count <= 10:
    count += 1  # IMPORTANT: Must increment or loop runs forever!
    if count % 2 == 0:
        continue
    print(count)

=== Basic While Loop ===
1
3
5
7
9
11

In [ ]:
print("=== Example 1: Process list items with while ===")
fruits = ["apple", "banana", "cherry", "date"]

index = 0
while index < len(fruits):
    print(f"{index + 1}. {fruits[index]}")
    index += 1
print()

In [81]:
print("=== Example 1: Process list items with while ===")
fruits = ["apple", "banana", "cherry", "date"]

index = 0
while index < len(fruits):
    print(f"{index + 1}. {fruits[index]}")
    index += 1
print()

=== Example 1: Process list items with while ===
1. apple
2. banana
3. cherry
4. date

In [84]:
print("=== Example 2: Remove items from list while looping ===")
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(f"Original: {numbers}")

=== Example 2: Remove items from list while looping ===
Original: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [94]:
del removed_numbers

NameError: name 'removed_numbers' is not defined

In [99]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
removed_numbers = []
print(f"Original: {numbers}\n")

index = 0
while index < len(numbers):
    if numbers[index] > 5:
        removed = numbers.pop(index)  # Remove and get the value
        removed_numbers.append(removed)  # Add to collection
        # Don't increment index (next item shifts into current position)
    else:
        index += 1  # Only increment when NOT removing

print(f"After removal: {numbers}")
print(f"Removed numbers: {removed_numbers}\n")

Original: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

After removal: [1, 2, 3, 4, 5]
Removed numbers: [6, 7, 8, 9, 10]

In [118]:
students

[{'id': 1,
  'name': 'Alice Johnson',
  'age': 20,
  'major': 'Computer Science',
  'courses': ['Python', 'Data Structures', 'Algorithms', 'Ethics']},
 {'id': 2,
  'name': 'Bob Smith',
  'age': 30,
  'major': 'Mathematics',
  'courses': ['Calculus', 'Linear Algebra']},
 {'id': 3,
  'name': 'Carol White',
  'age': 21,
  'major': 'Computer Science',
  'courses': ['Python', 'Machine Learning', 'Databases', 'Ethics']}]

In [121]:


#Option 1: Use list comprehension (NO pandas needed)
students_filtered = [s for s in students if "bob" in s['name'].lower()]
students_filtered

[{'id': 2,
  'name': 'Bob Smith',
  'age': 30,
  'major': 'Mathematics',
  'courses': ['Calculus', 'Linear Algebra']}]

In [122]:

#Option 2: Convert to pandas first
import pandas as pd
students_df = pd.DataFrame(students)
students_filtered = students_df[
    students_df['name'].str.contains("Bob", case=False)
]
students_filtered

   id       name  age        major                     courses
1   2  Bob Smith   30  Mathematics  [Calculus, Linear Algebra]

In [123]:
#Option 3: Use filter function
students_filtered = list(
    filter(lambda s: "bob" in s['name'].lower(), students)
)
students_filtered

[{'id': 2,
  'name': 'Bob Smith',
  'age': 30,
  'major': 'Mathematics',
  'courses': ['Calculus', 'Linear Algebra']}]